
* {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

/* header section  */

.logo {
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border: 1px solid gainsboro;
    border-radius: 8px;
    background-color: lavender;
}

 /* hero section  */
.hero {
    text-align: left;
    width: 100%;
    background-image: url(./images/hero-image.jpg);
    position: relative;
    color: white;
    border: 2px solid rgb(209, 207, 207);
    border-radius: 20px;
    height: 270px;
    margin-bottom: 20px;
}

.hero-content h4 {
    border: 1px solid rgb(185, 184, 184);
    border-radius: 8px;
    background-color: lavender;
    width: 20%;
    text-align: center;
    color: purple;
}

/* feature section  */
.photo-container {
    display: flex;
    margin-top: 50px;
    gap: 160px;
    background-color: whitesmoke;
    position: relative;
    height: 320px;
}

.images {
    position: absolute;
    border-radius: 10px;
    box-shadow: 6px 6px 12px rgb(69, 68, 68);
}

.feature {
    color: white;
    position: relative;
    margin-top: 30px;
     
}

.feature h4 {
    padding-left: 50px;
    margin-top: 210px;
    text-align: center;
}

.feature button {
    color: black;
    background-color: white;
    border-radius: 10px;
}

/* testimonial section  */
.test {
    position: relative;
    background-color: white;
    height: 250px;
    width: auto;
    text-align: center;
    border-radius: 15px;
}

.test1 {
    padding-top: 70px;
}

.test1 button {
    border-radius: 17px;
    padding: 12px; 
}

/* card section */

.card-container {
    display: flex;
    margin-bottom: 80px;
    margin-top: 40px;
    background-color: whitesmoke; 
    position: relative;
}
.card-p {
    background-color: rgb(167, 143, 111);
    border: 2px solid rgb(198, 195, 195);
    height:300px;
    width: 250px;
    border-radius: 18px;
    padding-top: 50px;
    text-align: center;
    margin-right: 30px;
}

.image-card {
    display: flex;
    gap:180px;
}

.card h4 {
    backdrop-filter: blur(10px);
}

.cards {
    position: absolute;
    border-radius: 15px;
}

.card {
    position: relative;
    color: white;
    padding-top: 180px;
    font-weight: bolder; 
}

.card3 {
    margin-right: 12px;
}

/* Workshop Section */
.workshops {
    background-color: #222;
    color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    gap: 60px;
    border: 2px solid black;
    border-radius: 15px;
}

.workshop {
    background-image: url(./images/workshop.jpg);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    width: 180px;
    height: 200px;
}

.workshop h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.register-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
}

/* FAQ Section */
.faq-container {
    background-color: #fff;
    padding: 20px 10px;
    border: 2px solid white;
    display: flex;
    gap: 40px;
    height: 300px;
}

.faq-container button {
    border-radius: 10px;
}

.faq h2 {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer; 
}

.faq details {
    margin-bottom: 20px;
}

.faq summary {
    font-weight: bold;
    cursor: pointer;
}


/* Footer Section */
footer {
    background-color:rgb(241, 241, 248);
    padding: 10px;
    text-align: center;
    border: 1px solid white;
}

.cta-btn {
    background-color: whitesmoke;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid rgb(231, 227, 227);
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    line-height: 1.5;
}

.footer-links a {
    text-decoration: none;
}

.f1 p {
    color: navy;
}

.f2 p {
    color: navy;
}

.copyright {
    display: flex;
    gap: 680px;
}


/* the styles for the tablet in portrait view to 960px*/

@media only screen and (max-width:959px){
	
}

/* the styles for mobile landcape to table portrait*/

@media only screen and (max-width: 767px){
	
}

/* the styles for mobile portrait to mobile landcape*/

@media only screen and (max-width: 479px){
	
}